# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules
jspm_packages


# Vim auxiliary files
.*.un~
.*.swp
.*.swo
*~

